<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @line_item.date %>
</p>

<p>
  <strong>Minutes:</strong>
  <%= @line_item.minutes %>
</p>

<p>
  <strong>Sheet:</strong>
  <%= @line_item.sheet %>
</p>

<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
